.expo/
.expo/*
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Android (managed by Expo)
android/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/release/

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcuserdata
ios/Podfile.lock

# Temporary files
*.tmp
*.temp
